<!-- 
  footer.ejs
  -------------------------------------
  Shared HTML footer for all pages.
  Contains copyright info and links to social media.
-->
    </main>
  </div>

  <footer>
    <p>&copy; <%= new Date().getFullYear() %> | Junaid Arif</p>
    <nav>
      <a href="https://junaid-mohammad.github.io/HTML-Portfolio-Website/" target="_blank">Website</a>
      <a href="https://github.com/junaid-mohammad" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/junaidarif-mohammad/" target="_blank">LinkedIn</a>
      <a href="mailto:mohammad.junaidarif@mail.mcgill.ca">Email</a>
    </nav>
  </footer>
</body>
</html>