<!-- 
  header.ejs
  -------------------------------------
  Shared HTML head + opening body tag for all pages.
  Sets global styles, title, favicon, and meta tags.
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <!-- Global Stylesheet -->
  <link rel="stylesheet" href="/styles/main.css" />

  <!-- Page Title and Favicon -->
  <title>Todo Or Not Todo</title>
  <link rel="icon" type="image/png" href="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/external-shakespeare-literature-flaticons-lineal-color-flat-icons-3.png" />
</head>

<body>
  <div class="wrapper">
    <main>
